@media only screen and (max-width: 980px) {
  .site-blocks-cover h1 {
    font-weight: 900;
    color: #fff;
    font-size: 1.5rem;
}
.site-blocks-cover .sub-text {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: .2em;
}
.site-navbar .site-logo {
    font-weight: 200;
    width: 530% !important;
}
}